<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>food details</title>
    <%- include ('../partials/head.ejs') -%>

<style>
    img{
        max-width: 30%;
    }
    
</style>

</head>
<body>
    <nav class="nav">
        <a href="/food/frontpage" class="nav-link">Back to frontpage</a>
    </nav>

    <h1><%=item.name%></h1>
    
    <img src="/img/<%=item.img%>.jpg" alt="picture of <%=item.name%>"><br><br>

<div class="user">
    <p>You have selected <%=item.name%> and it is priced for RM<%=item.price%></p>
    <p><%=item.description%></p>
</div>
</body>
</html>